In [34]:
import pandas as pd

# Load dataset
file_2022 = "BITRE-Road-Vehicles-Australia-January-2022-Re-Issue.xlsx"
file_2024 = "bitre-road-vehicles-australia--january2024.xlsx"

df_2022 = pd.read_excel(file_2022, sheet_name="Table 1", skiprows=6)
df_2024 = pd.read_excel(file_2024, sheet_name="Table 1", skiprows=6)

In [102]:
# Extract vehicle data only for victoria data
def extract_vehicle_data(df):
    records = []
    current_vehicle_type = None

    for _, row in df.iterrows():
        year = row["Unnamed: 1"]
        vic_value = row["Unnamed: 3"]
        vehicle_type_candidate = row["Unnamed: 2"]

        # Save vehicle type label from top row
        if pd.isna(year) and pd.notna(vehicle_type_candidate):
            current_vehicle_type = vehicle_type_candidate

        # Get data if there is a year and vehicle value
        elif pd.notna(year) and current_vehicle_type is not None:
            try:
                year = int(year)
                vic_value = float(vic_value)
                records.append({
                    "year": year,
                    "vehicle_type": current_vehicle_type,
                    "value": vic_value
                })
            except:
                continue
    return pd.DataFrame(records)

In [104]:
# Extract data from both dataset
df_vic_2022 = extract_vehicle_data(df_2022) # data from 2021-2022
df_vic_2024 = extract_vehicle_data(df_2024) # data from 2022-2024

# Combine the data and remove duplicate
df_combined = pd.concat([df_vic_2022, df_vic_2024], ignore_index=True)
df_combined = df_combined.drop_duplicates().sort_values(by=["vehicle_type", "year"])

In [106]:
df_combined.head(100)

    year                   vehicle_type      value
10  2021             Articulated trucks    31343.0
11  2022             Articulated trucks    32635.0
36  2023             Articulated trucks    33793.0
37  2024             Articulated trucks    34927.0
14  2021                          Buses    20053.0
15  2022                          Buses    20145.0
2   2021                     Campervans    21449.0
3   2022                     Campervans    22779.0
24  2023                     Campervans    24222.0
25  2024                     Campervans    24805.0
44  2022                    Heavy buses     9759.0
45  2023                    Heavy buses     9945.0
46  2024                    Heavy buses    10085.0
8   2021             Heavy rigid trucks    88649.0
9   2022             Heavy rigid trucks    90883.0
33  2023             Heavy rigid trucks    92895.0
34  2024             Heavy rigid trucks    94582.0
41  2022                    Light buses    10386.0
42  2023                    Light buses    10549.0
43  2024                    Light buses    10531.0
4   2021      Light commercial vehicles   807194.0
5   2022      Light commercial vehicles   842658.0
27  2023      Light commercial vehicles   873216.0
28  2024      Light commercial vehicles   900444.0
6   2021             Light rigid trucks    42770.0
7   2022             Light rigid trucks    45479.0
30  2023             Light rigid trucks    50136.0
31  2024             Light rigid trucks    55655.0
16  2021                    Motorcycles   196521.0
17  2022                    Motorcycles   202501.0
48  2023                    Motorcycles   206967.0
49  2024                    Motorcycles   209583.0
12  2021  Non-freight-carrying vehicles    10612.0
13  2022  Non-freight-carrying vehicles    10916.0
39  2023  Non-freight-carrying vehicles    11283.0
40  2024  Non-freight-carrying vehicles    11783.0
0   2021             Passenger vehicles  3956393.0
1   2022             Passenger vehicles  4000138.0
21  2023             Passenger vehicles  4071171.0
22  2024             Passenger vehicles  4162325.0
18  2021           Total motor vehicles  5174984.0
19  2022           Total motor vehicles  5268134.0
51  2023           Total motor vehicles  5384177.0
52  2024           Total motor vehicles  5514720.0

In [108]:
df_combined["vehicle_type"].unique()

array(['Articulated trucks', 'Buses', 'Campervans', 'Heavy buses',
       'Heavy rigid trucks', 'Light buses', 'Light commercial vehicles',
       'Light rigid trucks', 'Motorcycles',
       'Non-freight-carrying vehicles', 'Passenger vehicles',
       'Total motor vehicles'], dtype=object)

In [110]:
# Categorized the vehicle based on the type
def categorize_vtype(vtype):
    vtype = vtype.strip().lower()
    if vtype == "passenger vehicles":
        return "Passenger vehicles"
    elif vtype == "light commercial vehicles":
        return "Light commercial vehicles"
    elif vtype == "motorcycles":
        return "Motorcycles"
    elif vtype == "total motor vehicles":
        return "All types"
    else:
        return "Others"

# Apply the fucntion
df_combined["vehicle_group"] = df_combined["vehicle_type"].apply(categorize_vtype)
df_combined.head(10)

    year        vehicle_type    value vehicle_group
10  2021  Articulated trucks  31343.0        Others
11  2022  Articulated trucks  32635.0        Others
36  2023  Articulated trucks  33793.0        Others
37  2024  Articulated trucks  34927.0        Others
14  2021               Buses  20053.0        Others
15  2022               Buses  20145.0        Others
2   2021          Campervans  21449.0        Others
3   2022          Campervans  22779.0        Others
24  2023          Campervans  24222.0        Others
25  2024          Campervans  24805.0        Others

In [114]:
# change vehicle into int
df_combined["value"] = df_combined['value'].astype(int)
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44 entries, 10 to 52
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           44 non-null     int64
 1   vehicle_type   44 non-null     object
 2   value          44 non-null     int64
 3   vehicle_group  44 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.7+ KB

In [116]:
# save combined files into csv
df_combined.to_csv("vehicle_ownership.csv", index=False)